.flex-spacer {
    flex: auto;
}

.toolbar-icon {
    cursor: pointer;
    padding: 0 1em;
}

pwp-user{
    padding: 1em;
}

.add-user-submit-btn{
    margin: auto;
}

.no-users-message{
    padding: 1em;
    margin: 2em auto;
    line-height: 1.4;
    display: table;
    cursor: default;
    user-select: none;
}

.close-dialog-btn {
    position: absolute;
    top: 0;
    right: 0;
} 