<md-toolbar color="primary">
  <span>MyApp</span>
  <span class="flex-spacer"></span>
  <button md-icon-button (click)="onAddClick()">
    <md-icon>add</md-icon>
    <ng-template #addUserDialog>
       <button md-icon-button class="close-dialog-btn" type="button" (click)="onCloseDialogClick()">
          <md-icon>close</md-icon>
      </button>
      <form (ngSubmit)="onAddUserSubmit(addUserInput)">      
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Add a Github User" name="addedUser" required ngModel #addUserInput="ngModel">
        </md-input-container>
        <md-dialog-actions>
          <button md-button type="submit" [disabled]="addUserInput?.invalid" class="add-user-submit-btn">SUBMIT</button>
        </md-dialog-actions>
      </form>
    </ng-template>
  </button>
</md-toolbar>

<div class="no-users-message" *ngIf="!logins.length">
  Click on the + to add Github users you wish to follow.
</div>

<pwp-user *ngFor="let user of users; let i = index;" [user]="user" (removeClick)="onUserRemoveClick(i)"></pwp-user>