.flex-spacer {
    flex: auto;
}

.toolbar-icon {
    cursor: pointer;
    padding: 0 14px;
}

pwp-user{
    padding: 14px;
}

.add-user-submit-btn{
    margin: auto;
}

.no-users-message{
    margin: 20px auto;
    display: table;
}

.close-dialog-btn {
    position: absolute;
    top: 0;
    right: 0;
} 